package sunnyyk.erp.common.service.web.${domain_lower};

import java.util.List;
import java.util.Map;

/**
 * <pre>
 * ${description}
 * </pre>
 *
 * @author ${author}
 * @date ${date}
 */
public interface ${DOMAIN}${MENU}Service {

	/**
	 * 목록 조회
	 */
	List<Map<String, Object>> selectList(Map<String, String> param);

	/**
	 * 상세 조회
	 */
	Map<String, Object> selectDetail(Map<String, String> param);

	/**
	 * 저장
	 */
	void save(Map<String, String> param);

}
